In [1]:
import sqlite3
sqlite3.connect('z1.db')
print ("database created successfully")

database created successfully

In [2]:
conn = sqlite3.connect('z1.db') # connecting database successfully
print("database connected successfully")
c=conn.cursor()#a cursor for submitting SQL statements to the database server

database connected successfully

In [9]:
c.execute('create table z1details (name char(30), regno int, Status char(10))')
print("table created successfully")

OperationalError: table z1details already exists

In [34]:
c.execute('insert into z1details values("AAA",1,"pass")')
c.execute('insert into z1details values("ABC",2,"pass")')
c.execute('insert into z1details values("XXX",3,"pass")')
print ("Records created successfully");

Records created successfully

In [11]:
conn.commit()
c.execute('select * from z1details')
for row in c.fetchall():
    print (row)

('AAA', 1, 'fail')
('ABC', 2, 'fail')
('AAA', 1, 'fail')
('ABC', 2, 'fail')

In [6]:
c.execute("UPDATE z1details set status = 'fail' where regno = 2")
conn.commit()
c.execute('select * from z1details')
for row in c.fetchall():
    print (row)

('AAA', 1, 'fail')
('ABC', 2, 'fail')
('AAA', 1, 'fail')
('ABC', 2, 'fail')

In [7]:
c.execute('select * from z1details')
for row in c.fetchall():
    print (row)

('AAA', 1, 'fail')
('ABC', 2, 'fail')
('AAA', 1, 'fail')
('ABC', 2, 'fail')

In [8]:
c.execute(" DELETE from z1details where regno=3")
conn.commit()
c.execute("select * from z1details")
for row in c:
   print ("name = ", row[0])
   print ("regno = ", row[1])
   print ("status = ", row[2])
  
print ("Operation done successfully");

name =  AAA
regno =  1
status =  fail
name =  ABC
regno =  2
status =  fail
name =  AAA
regno =  1
status =  fail
name =  ABC
regno =  2
status =  fail
Operation done successfully